# Ignore python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore python virtual environment folder
venv/

# Ignore IDE meta data (PyCharm & VS Code)
.idea
.vscode/
*.code-workspace
